<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "Plant-Market-Banner-03.jpg" %>');">
  <div class="container">
    <h1><strong>Plant Market </strong></h1>
    <p>Spread the green!</p>
    <a class="btn btn-ghost-banner" href="/users/sign_in">Sing Up now!</a>
  </div>
</div>

<div class="container">
  <div class="content-search">
    <%= form_tag search_path, method: :get do %>
      <%= select_tag :district,
        options_for_select(OffersController::DISTRICTS.each_with_index{|index,x| [x, index]}), {:class => "btn btn-ghost", :prompt => 'District'}
      %>
      <%= select_tag :category,
        options_for_select(Offer::CATEGORIES.each_with_index{|index,x| [x, index]}), {:class => "btn btn-ghost", :prompt => 'Categories'}
      %>
      <%= submit_tag "Search", class: "btn-primary" %>
    <% end %>

    <% if policy(Offer).create? %>
      <%= link_to "New offer", new_offer_path, class: "btn-primary" %>
    <% end %>
  </div>

  <div class="container">
    <div class="content">
      <div class="cards">
        <% @offers.last(6).each do |offer| %>
          <div class="card-offer">
            <div class="card-body">
              <%= link_to offer_path(offer) do %>
                <%#= cl_image_tag(offer.photo.key,{:width => :auto,  :dpr => :auto, :responsive => :true,
                                                  :crop => "scale", :responsive_placeholder => "blank"})%>
                <%= cl_image_tag "profile.jpg", width: 100, height: 100, crop: :fill %>
                <h5 class="card-title"><%= offer.title %></h5>
              <% end %>
              <% if current_user && offer.user == current_user %>
                <%= link_to "Edit", edit_offer_path(offer) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div id="map"
        style="width: 100vh; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
