<div class="container">
  <%= form_tag search_path, method: :get do %>
    <%= select_tag :district,
      options_for_select([["Vila Madalena"],["Pinheiros"], ["Vila Mariana"]]), {:class => "btn btn-ghost", :prompt => 'District'}
    %>
    <%= select_tag :category,
      options_for_select(Offer::CATEGORIES.each_with_index{|index,x| [x, index]}), {:class => "btn btn-ghost", :prompt => 'Categories'}
    %>
    <%= submit_tag "Search", class: "btn-primary" %>
  <% end %>

  <% if !@offers.empty? %>
    <% @offers.each do |offer| %>
      <% if policy(offer).edit? %>
        <%= link_to "Update", edit_offer_path(offer) %>
      <% end %>
    <% end %>

    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <% else %>
      <h2>Sorry, we couldn't find any offers yet</h2>
    <% end %>
</div>
